@media (min-width: 700px) {
    body {
        max-width: 900px;
        margin: 0 auto;
    }

    .weather h2::after {   /* pseudo-element icon ❗ REQUIRED */
        content: " ⛅";  /* only in desktop view */
        font-size: 1.5rem;
    }

    .icon-mobile {
        display: none; /* hide SVG on desktop */
    }
}
