/* CSS VARIABLES  */
:root {
    --main-color: #009e60; /* Madagascar green */
    --text-color: #222;
    --font-main: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-main);
    margin: 0;
    line-height: 1.5;
    color: var(--text-color);
}

header, footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

.hero img {
    width: 100%;
    display: block;
}

.weather {
    padding: 1rem;
    text-align: center;
}

.icon-mobile {
    width: 70px;
    margin: 0 auto;
}

footer p {
    font-size: 0.9rem;
}
